<div class="main">
  <h3>コンテンツ一覧</h3>

    <div class="videos">
      <% @video_titles.each do |video_title| %>
      <div class="video-title">
        <p><%= video_title%></p>
      </div>
      <% end %>

    </div>
</div>
